body {
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
  }

  .main {
    text-align: center;
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5px 10px 10px rgba(0, 0, 0);
  }
  
  .trademark {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
  } 

  .version {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
  }


  



  
  
  
  
  